<div class="animated fadeIn">
  <div class="row justify-content-start ml-3 mt-5 mr-3">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-header"><b>Celular</b></div>
        <div class="card-body">
          <p>(31) 9-7138-4337</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card mt-3 mt-md-0 mt-lg-0 mt-xl-0">
        <div class="card-header"><b>E-mail</b></div>
        <div class="card-body">
          <p>jonathan.ssm.dev@hotmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
